@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

header {
    position: relative;
    position: fixed;
    width: 100%;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.315);
    background-color: rgb(239, 236, 236);
    z-index: 2222;
}

header .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo2 {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: gray;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;

    .food {
        color: #FCC647;
    }

    .color {
        font-weight: 400;
        font-size: 15px;
        color: black;
    }
}

.logo2 span {
    color: #ef476f;
}

.navigation {
    position: relative;
}

.navigation ul {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation ul li {
    margin-left: 60px;
}

.navigation a {
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    line-height: 1;
    transition: 0.5s;
}

.navigation a::before {
    content: "" attr(data-menu) "";
    position: absolute;
    z-index: 1;
    color: #ef476f;
    width: 0px;
    transition: 0.5s;
    overflow: hidden;
}

.navigation a:hover::before {
    width: 100%;
}

input#toggle-icon,
.toggle-icon {
    display: none;
}

.shovcase {
    background-image: url(./img/gffg-min.jpeg);
    width: 100%;
    height: 100vh;
}

.rang {
    position: relative;
    background-color: #292d33;
    width: 100%;
    height: auto;
    padding: 50px 100px 50px 50px;
    color: #fff;
    margin-top: -500px;
    margin-left: -100px;
    z-index: 100;

    h1 {
        font-weight: 100;
        font-size: 50px;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        text-transform: uppercase;
    }

    a {
        color: rgb(190, 186, 186);
    }
}

.ran {
    position: relative;
    z-index: 30;
    background-color: #ea651c;
    width: 40%;
    // height: 100vh;
    padding-bottom: 300px;
    margin-left: 280px;
    margin-top: -500px;
    padding-top: 1px;
    padding-top: 450px;
}

.oq {
    position: relative;
    z-index: 50;
    display: flex;
    width: 90%;
    margin: auto;
    gap: 50px;
    background-color: #fff;
    // box-shadow: 0px 0px 20px 5px rgb(208, 202, 202);
    margin-bottom: 50px;
    // border: 1px solid black;
    border-radius: 3px;
    padding: 30px;
    margin-top: -350px;

    p {
        color: #808080;
        margin-bottom: 30px;
    }

    h1 {
        border-bottom: 2px solid #ea651c;
        margin-bottom: 20px;
        margin-top: 10px;
        font-weight: 100;
    }
}

.orqa {

    z-index: 0;
    background-color: #e5e5e5;
    width: 100%;
    height: 40vh;
    margin-top: -250px;
}

.wovv {
    background-color: #ea651c;

    .wovcase2 {
        width: 90%;
        margin: auto;
        padding: 30px 0px 30px 0px;
        display: flex;
        gap: 50px;

        .wovcase {
            width: 90%;
            margin: auto;
            height: auto;
            color: #fff;

            a {
                color: rgb(255, 255, 255);
                // border-bottom: 1px solid white;
            }

            h1 {
                margin-bottom: 30px;
            }

            .quis {
                border-bottom: 1px solid white;
            }
        }

        .read {
            margin-top: 30px;

            // border: none;
            .more {
                all: unset;
                padding: 16px 55px;
                background-color: #fff;
                color: #000;
                border-radius: 30px;
                // border: none;
            }
        }

        .uch {
            color: #fff;

            .uch2 {
                width: 150px;
                height: 150px;
                border-radius: 100px;
                margin-bottom: 15px;
            }
        }

        .uchhh {
            color: #fff;

            .uch2 {
                width: 150px;
                height: 150px;
                border-radius: 100px;
                margin-bottom: 15px;
            }
        }
    }
}

// .qiyin {
//     // width: 100%;
//     // margin: auto;
//     margin-top: 100px;
//     display: flex;
//     justify-content: space-evenly;
//     margin-bottom: 100px;

// .qiyin1 {
//     h1 {
//         font-weight: 100;
//         margin-bottom: 30px;
//         width: 100%;
//         margin: auto;
//     }

//     p {
//         margin-bottom: 30px;
//         width: 100%;
//         margin: auto;
//     }

//     .fre {
//         border-bottom: 1px solid black;
//     }

//     a {
//         color: rgb(0, 0, 0);
//         margin-bottom: 30px;
//     }

//     .ore {
//         all: unset;
//         padding: 16px 55px;
//         background-color: #000;
//         color: #fff;
//         font-family: 'Courier New', Courier, monospace;
//         border-radius: 30px;
//     }
// }

// .qiyin2 {
//     .box {
//         background-color: #ea651c;
//         width: 100%;
//         padding-top: 100px;

//         .card2 {
//             .ciz {
//                 width: 70%;
//                 height: 380px;
//                 padding-bottom: 30px;
//                 margin-top: -200px;
//                 margin-left: -50px;
//                 margin-top: -300px;
//                 z-index: 0;
//             }
//         }

//         .card1 {
//             .qiz {
//                 position: relative;
//                 width: 100%;
//                 height: 400px;
//                 z-index: 456783;
//                 margin-left: -120px;
//             }
//         }
//     }
// }
// }



.sahifa3 {
    .all {
        display: flex;
        width: 90%;
        margin: auto;

        .textlar {
            padding-top: 250px;

            .what {
                width: 60%;
                line-height: 1.1;
                padding-bottom: 20px;
                font-weight: 400;
                color: black;
                font-size: 45px;
            }

            .para {
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                width: 40%;
                line-height: 1.8;
                padding-bottom: 30px;
                color: black;

                a {
                    color: white;
                    border-bottom: 1px solid;
                }

                a:hover {
                    color: rgb(222, 222, 222);
                    transition: .3s;
                    border-bottom: 1px solid goldenrod;
                }
            }

            .frep {
                font-size: 19px;
                padding-bottom: 40px;

                a {
                    color: black;
                    border-bottom: 1px solid;
                }
            }

            button {
                padding: 20px 50px;
                border-radius: 50px;
                border: none;
                cursor: pointer;
                background-color: black;
                color: white;
            }

            button:hover {
                background-color: #ea651c;
                color: black;
                border-radius: 50px;
            }
        }

        .box {
            position: relative;
            top: 50px;
            left: -160px;
            background-color: #ea651c;
            width: 50%;
            height: 700px;

            .boxx {
                z-index: 650;
                top: 150px;
                position: relative;
                left: -100px;

                img {
                    width: 150%;
                    height: 440px;
                }
            }

            .box4 {
                top: -250px;
                left: 100px;
                position: relative;
                width: 85%;
                z-index: 645;

                img {
                    width: 120%;
                }
            }
        }
    }

}




.sahifa4 {
    width: 95%;
    margin: auto;
    margin-top: 200px;

    .back {
        background-color: #ea651c;
        width: 60%;
        margin: auto;
        color: #fff;
        padding: 30px;
        padding-left: 420px;
        margin-top: -500px;

        // margin-left: 50px;
        .Freepi {
            border-bottom: 1px solid #fff;
            color: #fff;
        }

        h1 {
            margin-bottom: 20px;
            font-weight: 100;
        }

        p {
            line-height: 30px;
            margin-top: 30px;
            margin-bottom: 40px;
        }

        .re {
            all: unset;
            padding: 15px 55px;
            background-color: #000;
            color: #fff;
            border-radius: 30px;
            margin-bottom: 20px;
        }
    }

    .iq {
        .ciziq {
            width: 30%;
        }
    }

    .iq2 {
        margin-top: -400px;

        .odam {
            width: 40%;
            height: 600px;
            margin-left: 80px;
        }
    }
}

.sahifa5 {
    background-color: #ea651c;
    width: 100%;
    margin: auto;
    height: auto;
    padding-bottom: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #fff;
    display: flex;

    a {
        color: #000;
    }

    .class {
        border-bottom: 1px solid #000;
    }

    .biri {
        position: relative;
        top: 100px;
        left: 200px;
        padding: 20px;
        padding-right: 50px;
        width: 55%;
        height: 500px;
        background-color: rgb(255, 255, 255);
        color: #000;
        padding-top: 100px;
        margin-top: 200px;

        h2 {
            font-weight: 100;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 40px;
        }

        p {
            margin-bottom: 30px;
        }

        .kk {
            all: unset;
            padding: 15px 55px;
            background-color: #000;
            color: #fff;
            border-radius: 30px;
            border: 1px solid black;

            &:hover {
                background-color: #fff;
                color: #000;
                border: 1px solid black;
                transition: .5s;
            }
        }
    }

    .uwa1 {
        width: 40%;
        z-index: 123;
        margin-top: 200px;

        .uwajoy1 {
            width: 100%;
            height: 500px;
        }
    }

    .uwa2 {
        width: 50%;
        margin-top: 250px;
        margin-left: -450px;

        .uwajoy2 {
            width: 70%;
        }
    }
}

.sahifa6 {
    padding-top: 90px;

    .our {
        font-size: 50px;
        width: 70%;
        margin: auto;
        text-align: center;
    }

    .all-txtlar {
        display: flex;
        justify-content: space-evenly;

        .txtlar1 {
            display: flex;
            width: 40%;

            .box {
                background-color: #ea651c;
                width: 25px;
                height: 600px;
            }

            .tx-fl {
                display: flex;
                flex-direction: column;

                .tx {
                    display: flex;
                    width: 90%;
                    margin: auto;
                    font-size: 15px;

                    i {
                        color: #ea651c;
                        font-size: 25px;
                    }

                    p {
                        width: 85%;
                        font-size: 20px;
                        margin: auto;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.sahifa44 {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 100px;

    .iq4 {
        position: relative;
        margin-right: -150px;
        margin-top: 200px;

        .ciziq4 {
            width: 120%;
        }
    }

    .iq24 {
        margin-left: -200px;
        z-index: 54;
        margin-top: 100px;

        .odam4 {
            width: 100%;
        }
    }

    .sariq {
        width: 40%;
        height: 90vh;
        background-color: #ea651c;
        margin-left: -200px;
    }

    .mana {
        width: 60%;
        background-color: #f2f2f2;
        margin-top: 50px;
        height: 70vh;

        h1 {
            margin-top: 70px;
            font-weight: 100;
            text-align: center;
            margin-bottom: 30px;
        }

        p {
            width: 90%;
            margin: auto;
            line-height: 30px;
        }

        .kl {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .tag {
            color: #000;
            border-bottom: 1px solid #000;
        }

        .lk2 {
            all: unset;
            margin-left: 25px;
            padding: 15px 55px;
            background-color: #000;
            color: #fff;
            border-radius: 30px;

            &:hover {
                background-color: #808080;
                transition: .3s;
            }
        }
    }
}

.footer {
    background-image: url(./img/footer.jpeg);
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    background-size: 100% 100%;
    color: #fff;
    display: flex;
    justify-content: center;

    .futer1 {
        background-color: rgba(0, 0, 0, 0.441);
        width: 30%;
        height: auto;
        padding: 20px;
        text-align: center;
        margin-top: 170px;

        // padding-bottom: 100px;
        h1 {
            color: #ea651c;
            margin-bottom: 35px;
            margin-top: 20px;
            margin-bottom: 50px;
        }
    }

    .futer2 {
        background-color: #fff;
        padding: 20px;
        width: 30%;
        height: auto;
        padding-bottom: 20px;
        color: #000;
        margin-top: 170px;

        // padding-bottom: 100px;
        // text-align: center;
        // margin-bottom: 200px;
        .input {
            width: 100%;
            height: 50px;
            border: none;
            border-bottom: 1px solid #ea651c;
            // text-align: start;
        }

        .tex {
            width: 100%;
            height: 150px;
            border: none;
            border-bottom: 1px solid #ea651c;
            // text-align: start;
        }

        h1 {
            color: #ea651c;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 50px;
        }

        .yon {
            display: flex;
            gap: 15px;
            margin-bottom: 30px;

            .terms {
                color: aqua;
            }
        }

        .sub {
            all: unset;
            padding: 15px 55px;
            text-align: center;
            justify-content: center;
            // width: 20%;
            // margin: auto;
            // height: 50px;
            background-color: #ea651c;
            color: #fff;
            border-radius: 30px;
        }

        .sub2 {
            // text-align: center;
            // justify-content: center;
        }
    }
}

.fut {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;

    p {
        margin-bottom: 20px;
    }

    .ahref {
        color: rgb(207, 200, 200);
        border-bottom: 1px solid rgb(255, 255, 255);
        margin-left: 10px;
        margin-right: 10px;
    }
}






















@media (max-width: 2000px) {
    header {
        padding: 20px 40px;
    }

    .logo {
        font-size: 17px;
    }

    .navigation ul li {
        margin-left: 30px;
    }

    .navigation a {
        font-size: 16px;
    }
}

@media (max-width: 3000px) {
    header {
        padding: 20px 50px;
        padding-bottom: 40px;
    }

    .logo {
        font-size: 38px;
    }

    .navigation {
        position: absolute;
        top: 33px;
        left: 0;
        width: 100%;
    }

    .navigation ul li {
        margin-left: 0px;
        width: 100%;
        background: #ef476f;
        animation: liAnim 0.5s 0ms ease-in forwards;
        transform-origin: left;
        opacity: 0;
        transform: scaleY(0);
    }

    .navigation ul li:nth-child(1) {
        animation-delay: 100ms;
    }

    .navigation ul li:nth-child(2) {
        animation-delay: 300ms;
    }

    .navigation ul li:nth-child(3) {
        animation-delay: 500ms;
    }

    .navigation ul li:nth-child(4) {
        animation-delay: 700ms;
    }

    .navigation ul li:nth-child(5) {
        animation-delay: 900ms;
    }

    .navigation ul li:nth-child(6) {
        animation-delay: 1100ms;
    }

    @keyframes liAnim {
        0% {
            opacity: 0;
            transform: scaleY(0);
        }

        100% {
            opacity: 1;
            transform: scaleY(1);
        }
    }

    .navigation a {
        line-height: 1;
        display: block;
        color: white;
        padding: 15px 10px;
    }

    .navigation a::before {
        color: rgb(0, 0, 0);
    }

    .navigation nav {
        display: none;
    }

    .toggle-icon {
        display: block;
    }

    .toggle-icon {
        position: fixed;
        top: 6px;
        right: 50px;
        width: 55px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    /* hamburger css start */
    .hamburger {
        position: relative;
        width: 60%;
        height: 60%;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }

    .burger-1::before,
    .burger-1::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: black;
        border-radius: 8px;
        transition: 0.3s;
    }

    .burger-1::before {
        transform: translateY(-10px);
    }

    #toggle-icon:checked+.toggle-icon .burger-1::before {
        transform: translateY(0) rotate(-315deg);
    }

    .burger-1::after {
        transform: translateY(10px);
        box-shadow: 0 -10px 0 black;
    }

    #toggle-icon:checked+.toggle-icon .burger-1::after {
        transform: translateY(0) rotate(-45deg);
        box-shadow: unset;
    }

    #toggle-icon:checked~nav {
        display: block;
    }

}

@media (max-width: 1422px) {
    .sahifa5 {
        background-color: #ea651c;
        width: 100%;
        margin: auto;
        height: auto;
        padding-bottom: 200px;
        margin-top: 100px;
        margin-bottom: 100px;
        color: #fff;
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 200px;

        a {
            color: #000;
        }

        .class {
            border-bottom: 1px solid #000;
        }

        .biri {
            position: relative;
            top: 100px;
            left: 20px;
            padding: 20px;
            padding-right: 50px;
            width: 75%;
            height: auto;
            background-color: rgb(255, 255, 255);
            color: #000;
            padding-top: 100px;
            margin-top: -150px;

            h2 {
                font-weight: 100;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-size: 30px;
            }

            p {
                margin-bottom: 30px;
            }

            .kk {
                all: unset;
                padding: 15px 55px;
                background-color: #000;
                color: #fff;
                border-radius: 30px;
                border: 1px solid black;

                &:hover {
                    background-color: #fff;
                    color: #000;
                    border: 1px solid black;
                    transition: .5s;
                }
            }
        }

        .uwa1 {
            width: 70%;
            z-index: 123;
            margin-top: -450px;

            .uwajoy1 {
                width: 100%;
                height: 500px;
                margin-left: 50px;
            }
        }

        .uwa2 {
            width: 100%;
            margin-top: 200px;
            margin-left: -70px;
            margin-bottom: -200px;

            .uwajoy2 {
                width: 70%;
            }
        }
    }
}

@media (max-width: 1300px) {
    // .qiyin {
    //     flex-direction: column;
    //     width: 50%;
    //     margin: auto;
    //     justify-content: center;
    // }


    // .qiyin {
    //     // width: 100%;
    //     // margin: auto;
    //     margin-top: 50px;
    //     // margin-bottom: px;
    //     text-align: center;
    //     justify-content: center;
    //     // margin-left: 100px;

    //     .qiyin1 {
    //         // text-align: center;
    //         h1 {
    //             font-weight: 100;
    //             margin-bottom: 30px;
    //         }

    //         p {
    //             margin-bottom: 30px;
    //         }

    //         .fre {
    //             border-bottom: 1px solid black;
    //         }

    //         a {
    //             color: rgb(0, 0, 0);
    //             margin-bottom: 30px;
    //         }

    //         .ore {
    //             all: unset;
    //             padding: 16px 55px;
    //             background-color: #000;
    //             color: #fff;
    //             font-family: 'Courier New', Courier, monospace;
    //             border-radius: 30px;
    //         }
    //     }

    // .qiyin2 {
    // text-align: center;
    // justify-content: center;
    //         .box {
    //             background-color: #ea651c;
    //             width: 40%;
    //             padding-top: 100px;

    //             .card2 {
    //                 .ciz {
    //                     width: 100%;
    //                     height: 380px;
    //                     padding-bottom: 30px;
    //                     margin-top: -200px;
    //                     // margin-left: 59px;
    //                     margin-top: -500px;
    //                     z-index: 0;
    //                 }
    //             }

    //             .card1 {
    //                 .qiz {
    //                     position: relative;
    //                     width: 250%;
    //                     height: 400px;
    //                     z-index: 456783;
    //                     margin-left: -80px;
    //                 }
    //             }
    //         }
    //     }
    // }

    .sahifa4 {
        flex-direction: column;
    }

    .sahifa4 {
        width: 95%;
        margin: auto;

        .back {
            background-color: #ea651c;
            width: 60%;
            margin: auto;
            color: #fff;
            padding: 30px;
            padding-left: 320px;
            margin-top: -500px;

            // margin-left: 50px;
            .Freepi {
                border-bottom: 1px solid #fff;
                color: #fff;
            }

            h1 {
                margin-bottom: 20px;
                font-weight: 100;
            }

            p {
                line-height: 30px;
                margin-top: 30px;
                margin-bottom: 40px;
            }

            .re {
                all: unset;
                padding: 15px 55px;
                background-color: #000;
                color: #fff;
                border-radius: 30px;
                margin-bottom: 20px;
            }
        }

        .iq {
            .ciziq {
                width: 30%;
            }
        }

        .iq2 {
            margin-top: -400px;

            .odam {
                width: 40%;
                height: 600px;
                margin-left: 80px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .sahifa44 {
        flex-direction: column;
        width: 50%;
        margin: auto;
        margin-top: 300px;

        .iq4 {
            position: relative;
            margin-right: -150px;
            margin-top: 200px;

            .ciziq4 {
                width: 50%;
                display: none;
            }
        }

        .iq24 {
            width: 150%;
            margin-left: -80px;
            z-index: 54;
            margin-top: 100px;

            .odam4 {
                width: 100%;
                margin-top: -600px;
            }
        }

        .sariq {
            width: 10%;
            height: 90vh;
            background-color: #ea651c;
            margin-left: -300px;
            display: none;
        }

        .mana {
            width: 120%;
            background-color: #f2f2f2;
            margin-top: -50px;
            height: auto;
            padding-bottom: 30px;
            margin-bottom: 50px;
            margin-left: -30px;

            h1 {
                margin-top: 70px;
                font-weight: 100;
                text-align: center;
                margin-bottom: 30px;
            }

            p {
                width: 90%;
                margin: auto;
                line-height: 30px;
            }

            .kl {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .tag {
                color: #000;
                border-bottom: 1px solid #000;
            }

            .lk2 {
                all: unset;
                margin-left: 25px;
                padding: 15px 55px;
                background-color: #000;
                color: #fff;
                border-radius: 30px;

                &:hover {
                    background-color: #808080;
                    transition: .3s;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .qiyin {
        width: 90%;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 300px;
        text-align: center;
        justify-content: center;
        margin-left: 100px;

        .qiyin1 {
            h1 {
                font-weight: 100;
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 30px;
            }

            .fre {
                border-bottom: 1px solid black;
            }

            a {
                color: rgb(0, 0, 0);
                margin-bottom: 30px;
            }

            .ore {
                all: unset;
                padding: 16px 55px;
                background-color: #000;
                color: #fff;
                font-family: 'Courier New', Courier, monospace;
                border-radius: 30px;
            }
        }

        .qiyin2 {
            .box {
                background-color: #ea651c;
                width: 40%;
                padding-top: 100px;
                margin-top: 300px;

                .card2 {
                    .ciz {
                        width: 100%;
                        height: 380px;
                        padding-bottom: 30px;
                        margin-top: -200px;
                        margin-left: 59px;
                        margin-top: -300px;
                        z-index: 0;
                    }
                }

                .card1 {
                    .qiz {
                        position: relative;
                        width: 250%;
                        height: 400px;
                        z-index: 456783;
                        margin-left: -80px;
                    }
                }
            }
        }
    }

    .sahifa4 {
        flex-direction: column;
    }

    .sahifa4 {
        width: 95%;
        margin: auto;

        .back {
            background-color: #ea651c;
            width: 100%;
            margin: auto;
            color: #fff;
            padding: 30px;
            padding-left: 20px;
            margin-top: -30px;

            // margin-left: 50px;
            .Freepi {
                border-bottom: 1px solid #fff;
                color: #fff;
            }

            h1 {
                margin-bottom: 20px;
                font-weight: 100;
            }

            p {
                line-height: 30px;
                margin-top: 30px;
                margin-bottom: 40px;
            }

            .re {
                all: unset;
                padding: 15px 55px;
                background-color: #000;
                color: #fff;
                border-radius: 30px;
                margin-bottom: 20px;
            }
        }

        .iq {
            .ciziq {
                width: 50%;
            }
        }

        .iq2 {
            margin-top: -400px;

            .odam {
                width: 80%;
                height: 600px;
                margin-left: 20px;
            }
        }
    }

    .footer {
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .futer1 {
            width: 70%;
            margin: auto;
        }

        .futer2 {
            width: 70%;
            margin: auto;
        }
    }
}

@media (max-width: 900px) {
    .oq {
        flex-direction: column;
    }

    .wovv {
        .wovcase2 {
            flex-direction: column;
            text-align: center;
        }
    }

    .sahifa6 {
        margin-top: 100px;

        .our {
            font-size: 30px;
            width: 90%;
            margin: auto;
            text-align: center;
        }

        .all-txtlar {
            width: 75%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .txtlar1 {
                display: flex;
                width: 100%;

                .box {
                    background-color: #ea651c;
                    width: 25px;
                    height: 600px;
                }

                .tx-fl {
                    display: flex;
                    flex-direction: column;

                    .tx {
                        display: flex;
                        flex-direction: column;
                        width: 90%;
                        margin: auto;

                        i {
                            color: #ea651c;
                            font-size: 25px;
                        }

                        p {
                            width: 85%;
                            font-size: 20px;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }

}

@media (max-width: 800px) {
    .ran {
        margin-left: 150px;
    }

    .rang {
        position: relative;
        background-color: #292d33;
        width: 100%;
        height: auto;
        padding: 50px 100px 50px 50px;
        color: #fff;
        margin-top: -500px;
        margin-left: -100px;
        z-index: 100;

        h1 {
            font-weight: 100;
            font-size: 50px;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        p {
            text-transform: uppercase;
        }

        a {
            color: rgb(190, 186, 186);
        }
    }

    .ran {
        position: relative;
        z-index: 30;
        background-color: #ea651c;
        width: 50%;
        // height: 100vh;
        padding-bottom: 300px;
        margin-left: 150px;
        margin-top: -500px;
        padding-top: 1px;
        padding-top: 450px;
    }
}

@media (max-width:760px) {
    .sahifa3 {


        .all {
            display: flex;
            float: right;
            flex-direction: column-reverse;
            width: 90%;
            margin: auto;

            .textlar {
                padding-top: 250px;

                .what {
                    width: 100%;
                    line-height: 1.1;
                    padding-bottom: 20px;
                    font-weight: 400;
                    color: black;
                    font-size: 45px;
                }

                .para {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    width: 70%;
                    line-height: 1.8;
                    padding-bottom: 30px;
                    color: black;

                    a {
                        color: white;
                        border-bottom: 1px solid;
                    }

                    a:hover {
                        color: rgb(222, 222, 222);
                        transition: .3s;
                        border-bottom: 1px solid goldenrod;
                    }
                }

                .frep {
                    font-size: 19px;
                    padding-bottom: 40px;

                    a {
                        color: black;
                        border-bottom: 1px solid;
                    }
                }

                button {
                    padding: 20px 50px;
                    border-radius: 50px;
                    border: none;
                    cursor: pointer;
                    background-color: black;
                    color: white;
                }

                button:hover {
                    background-color: #ea651c;
                    color: black;
                    border-radius: 50px;
                }
            }

            .box {
                position: relative;
                top: 50px;
                left: -70px;
                background-color: #ea651c;
                width: 280px;
                margin: auto;
                height: 600px;

                .boxx {
                    z-index: 650;
                    top: 100px;
                    position: relative;
                    left: -65px;

                    img {
                        width: 155%;
                        height: 400px;
                    }
                }

                .box4 {
                    top: -250px;
                    left: 50px;
                    position: relative;
                    z-index: 645;

                    img {
                        width: 120%;
                        height: 380px;
                    }
                }
            }
        }

    }
}

@media (max-width: 620px) {
    .ran {
        position: relative;
        z-index: 30;
        background-color: #ea651c;
        width: 70%;
        // height: 100vh;
        padding-bottom: 300px;
        margin-left: 100px;
        margin-top: -500px;
        padding-top: 1px;
        padding-top: 450px;
    }
}

@media (max-width: 550px) {
    .wovv {
        .wovcase2 {

            // .wovcase {
            //     .more {
            //         margin-bottom: 200px;
            //     }
            // }
            .uchhh {
                margin-top: 100px;
            }
        }
    }
}

@media (max-width: 500px) {
    .ran {
        .rang {
            h1 {
                font-weight: 100;
                font-size: 30px;
                text-transform: uppercase;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
    }

    .footer {
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .futer1 {
            width: 90%;
            margin: auto;
        }

        .futer2 {
            width: 90%;
            margin: auto;
        }
    }
    .sahifa3{
        margin-bottom: 50px;


        .all{
            display: flex;
            float: right;
            flex-direction: column-reverse;
            .textlar{
                
                .what{
                    width: 100%;
                    line-height: 1.1;
                    padding-bottom: 20px;
                    font-weight: 400;
                    color: black;
                    font-size: 45px;
                }
                .para{
                    font-family: 'Open Sans',sans-serif;
                    font-size: 18px;
                    width: 85%;
                    line-height: 1.8;
                    padding-bottom: 30px;
                    color: black;
                    a{
                        color: white;
                        border-bottom: 1px solid;
                    }
                    a:hover{
                        color: rgb(222, 222, 222);
                        transition: .3s;
                        border-bottom: 1px solid goldenrod;
                    }
                }
                .frep{
                    font-size: 19px;
                    padding-bottom: 40px;
                    a{
                        color: black;
                        border-bottom: 1px solid ;
                    }
                }
                button{
                    padding: 20px 50px;
                    border-radius: 50px;
                    border: none;
                    cursor: pointer;
                    background-color: black;
                    color: white;
                }
                button:hover{
                    background-color: #ea651c;
                    color: black;
                    border-radius: 50px;
                }
            }
        
            .box{
                position: relative;
                top: 50px;
                left: -45px;
                background-color: #ea651c;
                width: 280px;
                margin: auto;
                height: 550px;
                .boxx{
                    z-index: 650;
                    top: 75px;
                    position: relative;
                    left: -65px;
                    img{
                        width: 155%;
                        height: 400px;
                    }
                }
                .box4{
                    top: -270px;
                    left: 50px;            
                    position: relative;
                    z-index: 645;
                    img{
                        width: 120%;
                        height: 380px;
                    }
                }
            }
        }
    
    }
}


@media (max-width: 450px) {
    .sahifa3 {
        display: none;
    }
    .sahifa4 {
        margin-top: 200px;
    }
}